<configuration>
    
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <File>prologes.log</File>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %message%n</Pattern>
        </encoder>
    </appender>
    
    <logger name="com.pd.api" level="DEBUG" />
    
    <logger name="org.hibernate.type" level="WARN" />
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="org.hibernate" level="WARN" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.transaction" level="WARN" />

    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN" />

    <!-- Trace > Debug > Info > Warn > Error -->
    <root level="INFO">
        <appender-ref ref="consoleAppender" />
        <!--<appender-ref ref="fileAppender" />-->
    </root>

</configuration>